body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eee;
}

header {
  text-align: center;
  font-size: 32px;
  padding: 15px;
  font-weight: bold;
}

/* HERO VIDEO */
.video-container {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}


.content {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 28px;
}

/* PRODUCTS GRID */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 30px;
}

.product-card {
  background: #fff;
  border-radius: 14px;
  padding: 15px;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

/* hover zoom */
.product-card:hover {
  transform: scale(1.06);
  box-shadow: 0 18px 30px rgba(0,0,0,0.15);
}


.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.price {
  margin: 10px 0;
}

.old {
  text-decoration: line-through;
  color: gray;
  margin-left: 5px;
}

.current {
  color: #2e8b57;
}

.button {
  background: #1f7a4d;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background: #145c38;
}

footer {
  text-align: center;
  padding: 15px;
  background: #1a1a1a;
  color: #ccc;
}

.rating {
  color: #f5a623; /* gold */
  font-size: 16px;
  margin: 5px 0;
}

.rating span {
  color: #555;
  font-size: 14px;
}
